<!DOCTYPE html>
<html lang="en">
<%- include("header") -%>
          <!-- Navbar -->
 <div class="search-input" id="search-input-box">
            <div class="container ">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search-input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="flaticon-close" id="close-search" title="Close Search"></span>
                </form>
            </div>
        </div>

<!--header end-->


<!--page title start-->

<section class="page-title parallaxie" data-bg-img="images/bg/08.jpg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h1>Compassionate Backers Services</h1>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="#">Services</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Financial Services</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<!--page title end-->


<!--body content start-->

<div class="page-content">

<!--section start-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <h2 class="title mb-3">Make Your Business Ambitions a Reality</h2>
        <p class="mb-0">Below are our services and Terms of services</p>
        <img class="img-fluid w-100 rounded box-shadow my-4" src="images/services/large/01.jpg" alt="">
        <!--flyer second page here-->
        <img class="img-fluid w-100 rounded box-shadow my-4" src="images/services/large/02.jpg" alt="">
        <!-- <div class="row mt-5">
          <div class="col-sm-6 xs-mt-5">
            <div class="featured-item text-center">
              <div class="featured-icon"> <i class="flaticon-report"></i>
              </div>
              <div class="featured-title">
                <h5>Investment Strategy</h5>
              </div>
              <div class="featured-desc">
                <p>Get in touch with us and we’ll figure out an Investment strategy that works for you!</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 md-mt-5">
            <div class="featured-item text-center">
              <div class="featured-icon"> <i class="flaticon-testing"></i>
              </div>
              <div class="featured-title">
                <h5>Financial And Analysis</h5>
              </div>
              <div class="featured-desc">
                <p>Get in touch with us and we’ll figure out something that works for everyone</p>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="row align-items-center mt-5">
          <div class="col-sm-6 xs-mt-5">
            <canvas id="revenue-chart" style="display: block; width: 100%; height: 400px;"></canvas>
          </div>
          <div class="col-sm-6 md-mt-5">
            <ul class="list-unstyled list-icon">
              <li class="mb-3"><i class="flaticon-tick"></i> It has survived not only five centuries, leap typesetting</li>
              <li class="mb-3"><i class="flaticon-tick"></i> Consulterz discovering the source behind the ubiquitous</li>
              <li><i class="flaticon-tick"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
            </ul>
          </div>
        </div> -->
        <!-- <div id="accordion" class="accordion mt-5">
          <div class="card active">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">loan application procedures</a>
              </h6>
            </div>
            <div id="collapse1" class="collapse show" data-parent="#accordion">
              <div class="card-body">to apply for loan visit one of our branch on working days, you can also submit a form <a href="contact">here</a>  and we shall get back to you</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">How we process asset acquisition</a>
              </h6>
            </div>
            <div id="collapse2" class="collapse" data-parent="#accordion">
              <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodas temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Duis aute dolor in reprehenderit.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Investment procedures</a>
              </h6>
            </div>
            <div id="collapse3" class="collapse" data-parent="#accordion">
              <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodas temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Duis aute dolor in reprehenderit.</div>
            </div>
          </div>
        </div> -->
        <div class="tab mt-5 grey-bg p-4">
          <!-- Nav tabs -->
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist"> <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#tab1-1" role="tab" aria-selected="true">Benefits</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#tab1-2" role="tab" aria-selected="false">Requirement</a>
            </div>
          </nav>
          <!-- Tab panes -->
          <div class="tab-content" id="nav-tabContent">
            <div role="tabpanel" class="tab-pane fade show active" id="tab1-1">
              <p class="mb-0">All Payments Made before the due date shall attract cash back</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab1-2">
              <p name="description" class="lead">Kindly study the flyer above to know more about requirement</p>
            </div>
          </div>
        </div>
      </div>  
      <div class="col-lg-4 col-md-12 sidebar md-mt-5">
        <div class="widget mb-5">
          <div class="sidebar-links">
            <ul class="list-unstyled">
              <li class="active"><a href="loaninfo"><span class="link-icon link-arrow"></span> <p class="link-text">Detailed instructions on Loan Services</p></a>
              </li>
              <!-- <li><a href="assetinfo"><span class="link-icon link-arrow"></span> <p class="link-text">Asset Acquisition Services</p> </a>
              </li>
              <li><a href="investmentinfo"><span class="link-icon link-arrow"></span><p class="link-text">Investment services</p> </a>
              </li> -->
             
            </ul>
          </div>
        </div>
        </div>
        <div class="widget">
          <div class="widget-contact px-5 py-5 xs-px-2 xs-py-2 text-white" data-bg-img="images/bg/01.jpg" data-overlay="8">
            <h4 class="text-white text-capitalize">Contact us for help?</h4>
            <p name="description">click the button below to know more about how you can contact us.</p> <a class="btn" href="contact"><span>Contact Us</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--section end-->

</div>

<!--body content end--> 


<!--footer start-->

<%- include("footer") -%>

<!--footer end-->


</div>

<!-- page wrapper end -->


<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-top"></i></a></div>

<!--back-to-top end-->

 
<!--== jquery -->
<script src="js/theme.js"></script>

<!--== theme-plugin -->
<script src="js/theme-plugin.js"></script>

<!--== theme-script -->
<script src="js/theme-script.js"></script>
<script>
  $(document).ready(function(){
         $(".abtclass").removeClass("active");
         $(".homeclass").removeClass("active");
         $(".servclass").addClass("active");
         $(".contactclass").removeClass("active")
 });
</script>

<!-- inject js end -->

</body>
</html>
