<!DOCTYPE html>
<html lang="en">
<%- include("header") -%>
          <!-- Navbar -->
   

 <div class="search-input" id="search-input-box">
            <div class="container ">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search-input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="flaticon-close" id="close-search" title="Close Search"></span>
                </form>
            </div>
        </div>

<!--header end-->


<!--page title start-->

<section class="jx1 page-title parallaxie" data-bg-img="images/sky.jpg">


  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h1 style="color: rgb(216, 17, 17);">Explore our media content</h1>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            
            <li class="breadcrumb-item active" aria-current="page">Have a look at our Workspace & Outdoor Events</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<!--page title end-->


<!--body content start-->

<div class="page-content">


<section>
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8 col-md-12">
          <div class="section-title">
           
            <h2 class="title">Staff's Meeting</h2>
            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="cases-item text-center">
            <div class="cases-images">
              <img
                class="img-fluid rounded box-shadow"
                src="/images/case-studies/01.jpg"
                alt=""
              />
            </div>
            <div class="cases-desc">
              <span>CBL(staffs) at meeting</span>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 sm-mt-5">
          <div class="cases-item text-center">
            <div class="cases-images">
              <img
                class="img-fluid rounded box-shadow"
                src="/images/case-studies/02.jpg"
                alt=""
              />
            </div>
            <div class="cases-desc">
              <span>Our productive staff's renders quality experience to clients</span>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 md-mt-5">
          <div class="cases-item text-center">
            <div class="cases-images">
              <img
                class="img-fluid rounded box-shadow"
                src="/images/case-studies/03.jpg"
                alt=""
              />
            </div>
            <div class="cases-desc">
              <span>meeting session</span>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="cases-item text-center">
            <div class="cases-images">
              <img
                class="img-fluid rounded box-shadow"
                src="/images/case-studies/04.jpg"
                alt=""
              />
            </div>
            <div class="cases-desc">
              <span>group snapshot</span>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="cases-item text-center">
            <div class="cases-images">
              <img
                class="img-fluid rounded box-shadow"
                src="/images/case-studies/05.jpg"
                alt=""
              />
            </div>
            <div class="cases-desc">
              <span>group snapshot</span>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="cases-item text-center">
            <div class="cases-images">
              <img
                class="img-fluid rounded box-shadow"
                src="/images/case-studies/06.jpg"
                alt=""
              />
            </div>
            <div class="cases-desc">
              <span>Our passionate workers at work sesion</span>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  
  <h1 style="color: rgb(216, 17, 17); position: relative; bottom: 50px;">CBL at Sports & Physical fitness event</h1>
  <div class="sportfit" class="container">
    <div class="row blog">
        <div class="">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">
                    
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#">
                                    <img src="/images/sporteve1.jpg" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#">
                                    <img src="/images/sporteve2.jpg" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#">
                                    <img src="/images/sporteve3.jpg" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#">
                                    <img src="/images/sporteve4.jpg" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                          
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->

        </div>
    </div>
</div>

</div>

<!--body content end--> 


<!--footer start-->

<%- include("footer") -%>
<!--footer end-->


</div>
<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-top"></i></a></div>

<!--back-to-top end-->

 
<!--== jquery -->
<script src="js/theme.js"></script>

<!--== theme-plugin -->
<script src="js/theme-plugin.js"></script>

<!--== theme-script -->
<script src="js/theme-script.js"></script>
<script>
  $(document).ready(function(){
         $(".abtclass").addClass("active");
         $(".homeclass").removeClass("active");
         $(".servicesclass").removeClass("active");
         $(".contactclass").removeClass("active")
 });
</script>

<!-- inject js end -->

</body>
</html>
