<!DOCTYPE html>
<html lang="en">
<%- include("header") -%>
          <!-- Navbar -->
   

 <div class="search-input" id="search-input-box">
            <div class="container ">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search-input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="flaticon-close" id="close-search" title="Close Search"></span>
                </form>
            </div>
        </div>

<!--header end-->


<!--page title start-->

<section class=" page-title " data-bg-img="images/sky.jpg" style="background-size: auto;">


  <div class="container">
    <div class="row align-items-center">
      <div id="GalleryIntro" class="col-md-12">
        <h1 style="color: rgb(255, 255, 255);">Explore our Gallery</h1>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            
            <li name="description" class="breadcrumb-item active" aria-current="page">dive into our Workspace & Outdoor Events Visuals</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<!--page title end-->


<!--body content start-->

<div class="page-content">


<section>
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8 col-md-12">
          <div class="section-title">
           
            <h4 class="title " style="text-decoration: underline;">COBAL TEAM & WORKSPACE</h4>
            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="cases-item text-center">
            <div class="cases-images">
              <img
                class="img-fluid rounded box-shadow"
                src="/images/case-studies/01.jpg"
                alt=""
              />
            </div>
            <div class="cases-desc">
              <span>COBAL (staffs) at meeting</span>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 sm-mt-5">
          <div class="cases-item text-center">
            <div class="cases-images">
              <img
                class="img-fluid rounded box-shadow"
                src="/images/case-studies/02.jpg"
                alt=""
              />
            </div>
            <div class="cases-desc">
              <span name="description">COBAL productive staff's renders quality experience to clients</span>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 md-mt-5">
          <div class="cases-item text-center">
            <div class="cases-images">
              <img
                class="img-fluid rounded box-shadow"
                src="/images/case-studies/03.jpg"
                alt=""
              />
            </div>
            <div class="cases-desc">
              <span>meeting session</span>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="cases-item text-center">
            <div class="cases-images">
              <img
                class="img-fluid rounded box-shadow"
                src="/images/case-studies/04.jpg"
                alt=""
              />
            </div>
            <div class="cases-desc">
              <span>COBAL Team snapshot</span>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="cases-item text-center">
            <div class="cases-images">
              <img
                class="img-fluid rounded box-shadow"
                src="/images/case-studies/05.jpg"
                alt=""
              />
            </div>
            <div class="cases-desc">
              <span>COBAL Team snapshot</span>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="cases-item text-center">
            <div class="cases-images">
              <img
                class="img-fluid rounded box-shadow"
                src="/images/case-studies/06.jpg"
                alt=""
              />
            </div>
            <div class="cases-desc">
              <span name="description">COBAL passionate team members Analyzing Records</span>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  
  <h4  style="color: rgb(0, 0, 0); position: relative; bottom: 50px; text-align: center; text-decoration: underline">CBL at Sports & Physical fitness event</h4>
  <div class="sportfit" class="container">
    <div class="row blog">
        <div class="">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">
                    
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#">
                                    <img src="/images/sporteve1.jpg" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#">
                                    <img src="/images/sporteve2.jpg" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#">
                                    <img src="/images/sporteve3.jpg" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#">
                                    <img src="/images/sporteve4.jpg" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                          
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->

        </div>
    </div>
</div>

</div>


<section>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 col-md-12">
        <div class="section-title">
          <h6>Team Expert</h6>
          <h2 class="title">Team Crew</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div
          class="owl-carousel"
          data-items="3"
          data-md-items="2"
          data-margin="30"
          data-sm-items="1"
          data-autoplay="true"
        >
          <div class="item">
            <div class="team-member style-1">
              <div class="team-images">
                <img
                  class="img-fluid"
                  src="/images/team/01.jpg"
                  alt=""
                  style="width: fit-content;"
                />
         
              </div>
              <div class="team-description">
                <h5><a href="team-single.html">Mr. Babatunde Abiodun Franklin</a></h5>
                <span>BDO</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="team-member style-1">
              <div class="team-images">
                <img
                  class="img-fluid"
                  src="/images/team/02.jpg"
                  alt=""
                  style="width: fit-content;"
                />
              
              </div>
              <div class="team-description">
                <h5><a href="team-single.html">Mr. Godwin Harrison</a></h5>
                <span>BDO</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="team-member style-1">
              <div class="team-images">
                <img
                  class="img-fluid"
                  src="/images/team/03.jpg"
                  alt=""
                  style="width: 260px; height: 400px;"
                />
               
              </div>
              <div class="team-description">
                <h5><a href="team-single.html">Mr. Tunde</a></h5>
                <span>BDO</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="team-member style-1">
              <div class="team-images">
                <img
                  class="img-fluid"
                  src="/images/team/04.jpg"
                  alt=""
                  style="width: fit-content; "
                />
         
              </div>
              <div class="team-description">
                <h5><a href="team-single.html">Mr. Daramola Bamidele</a></h5>
                <span>BDO</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div id="carouselExampleIndicators" class="tintCaro carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>

  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h5 class="name="description" ikk .carousel-caption">COBAL at their visit to Ikogosi warm spring</h5>
      <img style="height:500px; width:500px;" class="img-fluid d-block w-100"  src="/images/IK1.jpeg" alt="First slide">
    </div>
    <div class="carousel-item">
      <h5 class="ikk .carousel-caption">COBAL at their visit to Ikogosi warm spring</h5>
      <img style="height:500px; width:500px;" class="img-fluid d-block w-100" src="/images/IK2.jpeg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <h5 class="ikk .carousel-caption">COBAL at their visit to Ikogosi warm spring</h5>
      <img style="height:500px; width:500px;" class="img-fluid d-block w-100" src="/images/IK3.jpeg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <h5 class="ikk .carousel-caption">COBAL at their visit to Ikogosi warm spring</h5>
      <img style="height:500px; width:500px;" class="img-fluid d-block w-100"  src="/images/IK4.jpeg" alt="slide 4">
    </div>
    <div class="carousel-item">
      <h5 class=".carousel-caption">COBAL at their visit to Ikogosi warm spring</h5>
      <img style="height:500px; width:500px;" class="img-fluid d-block w-100"  src="/images/IK5.jpeg" alt="slide 5">
    </div>
    <div class="carousel-item">
      <h5 class="name="description" ikk .carousel-caption">COBAL at their visit to Ikogosi warm spring</h5>
      <img style="height:500px; width:500px;" class="img-fluid d-block w-100" src="/images/IK6.jpeg" alt="slide 6">
    </div>
    <div class="carousel-item">
      <h5 class="name="description" ikk .carousel-caption">COBAL at their visit to Ikogosi warm spring</h5>
      <img style="height:500px; width:500px;" class="img-fluid d-block w-100" src="/images/IK7.jpeg" alt="slide 7">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




<h3 class="text-light bg-dark" style="text-align: center; text-decoration: underline; text-decoration: solid;">ECONOMIC SUBMIT 1.0</h3>

<div id="carouseles" class="tintCaroes carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouseles" data-slide-to="0" class="active"></li>
    <li data-target="#carouseles" data-slide-to="1"></li>
    <li data-target="#carouseles" data-slide-to="2"></li>
    <li data-target="#carouseles" data-slide-to="4"></li>
    <li data-target="#carouseles" data-slide-to="5"></li>
    <li data-target="#carouseles" data-slide-to="6"></li>
    <li data-target="#carouseles" data-slide-to="7"></li>

  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p name="description" class="ikk underbold text-light bg-dark carousel-caption">COBAL at the economic submit 1.0... a visit to the olokuta correctional center</p>
      <img style="height:500px; width:650px;" class="img-fluid d-block w-100"  src="/images/es1.jpeg" alt="First slide">
    </div>
    <div class="carousel-item">
      <p name="description" class="ikk underbold text-light bg-dark carousel-caption">Compassionate backers limited staff at the economic submit 1.0</p>
      <img style="height:500px; width:650px;" class="img-fluid d-block w-100" src="/images/es2.jpeg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <p name="description"  class="ikk underbold text-light bg-dark carousel-caption">MD of Compassionate backers limited and the CEO of Jacob and Caroline during the economic submit 1.0</p>
      <img style="height:500px; width:650px;" class="img-fluid d-block w-100" src="/images/es3.jpeg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <p name="description" class="ikk underbold text-light bg-dark carousel-caption">Hon. Jibayo giving a lecture during the COBAL economic submit 1.0</p>
      <img style="height:500px; width:650px;" class="img-fluid d-block w-100"  src="/images/es4.jpeg" alt="slide 4">
    </div>
    <div class="carousel-item">
      <p name="description" class="underbold text-light bg-dark carousel-caption">Mr. David Abubakar giving a lecture on the COBAL economic submit 1.0</p>
      <img style="height:500px; width:650px;" class="img-fluid d-block w-100"  src="/images/es5.jpeg" alt="slide 5">
    </div>
    <div class="carousel-item">
      <p name="description" class="ikk underbold text-light bg-dark carousel-caption">Free health check-up for people at the COBAL economic submit 1.0</p>
      <img style="height:500px; width:650px;" class="img-fluid d-block w-100" src="/images/es6.jpeg" alt="slide 6">
    </div>
    <div class="carousel-item">
      <p class="ikk underbold text-light bg-dark   carousel-caption">Free health check-up</p>
      <img style="height:500px; width:650px;" class="img-fluid d-block w-100" src="/images/es7.jpeg" alt="slide 6">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouseles" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouseles" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--body content end--> 


<!--footer start-->

<%- include("footer") -%>
<!--footer end-->


</div>
<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-top"></i></a></div>

<!--back-to-top end-->

 
<!--== jquery -->
<script src="js/theme.js"></script>

<!--== theme-plugin -->
<script src="js/theme-plugin.js"></script>

<!--== theme-script -->
<script src="js/theme-script.js"></script>
<script>
  $(document).ready(function(){
         $(".abtclass").addClass("active");
         $(".homeclass").removeClass("active");
         $(".servicesclass").removeClass("active");
         $(".contactclass").removeClass("active")
 });
</script>

<!-- inject js end -->

</body>
</html>
