<!DOCTYPE html>
<html lang="en">
    <%- include("header") -%>
     <!-- Navbar -->
    

<div class="search-input" id="search-input-box">
<div class="container">
<form class="d-flex justify-content-between search-inner">
<input
  type="text"
  class="form-control"
  id="search-input"
  placeholder="Search Here"
/>
<button type="submit" class="btn"></button>
<span
  class="flaticon-close"
  id="close-search"
  title="Close Search"
></span>
</form>
</div>
</div>

      <!--header end-->

      <!--hero section start-->

      <section class="banner p-0 pos-r fullscreen-banner">
        <div
          class="banner-slider owl-carousel no-pb"
          data-dots="false"
          data-nav="true"
        >
          <div class="item" data-bg-img="/images/bg/01.jpg" data-overlay="5">
            <div class="align-center p-0">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-7 col-md-12">
                    <h1 class="mb-4 text-white animated1">
                      We Comppassionately Offer Financial Services Without Merit Defects
                    </h1>
                    <p class="lead text-white animated2">
                      Contact now we are waiting for your message
                    </p>
                    <div class="animated3 mt-5">
                      <a class="btn btn-2" href="about-our-company">
                        <span class="btn-icon btn-arrow"></span>
                        <span class="btn-text">Learn More</span>
                      </a>
                      <a class="btn btn-2 btn-border white" href="contact">
                        <span class="btn-icon btn-arrow"></span>
                        <span class="btn-text">Contact Us</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item" data-bg-img="/images/case-studies/01.jpg" data-overlay="5">
            <div class="align-center p-0">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-7 col-md-12">
                    <h1 class="mb-4 text-white animated1">
                      We at Compassionate Backers LTD renders excellent financial services 
                    </h1>
                    <p class="lead text-white animated2">
                      contact us and we shall do our best to make you happy 
                    </p>
                    <div class="animated3 mt-5">
                      <a class="btn btn-2" href="about-our-company">
                        <span class="btn-icon btn-arrow"></span>
                        <span class="btn-text">Learn More</span>
                      </a>
                      <a class="btn btn-2 btn-border white" href="contact">
                        <span class="btn-icon btn-arrow"></span>
                        <span class="btn-text">Contact Us</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="item" data-bg-img="/images/bg/02.jpg" data-overlay="5">
            <div class="align-center p-0">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-7 col-md-12">
                    <h1 class="mb-4 text-white animated1">
                      Leading The Way For Investment And Credit Services
                    </h1>
                    <p class="lead text-white animated2">
                      Start working with a company that provides everything you
                      need to make your aspirations reality 
                    </p>
                    <div class="animated3 mt-5">
                      <a class="btn btn-2" href="about-our-company">
                        <span class="btn-icon btn-arrow"></span>
                        <span class="btn-text">Learn More</span>
                      </a>
                      <a class="btn btn-2 btn-border white" href="contact">
                        <span class="btn-icon btn-arrow"></span>
                        <span class="btn-text">Contact Us</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--hero section end-->

      <!--body content start-->

      <div class="page-content">
        <!--form start-->

        <section class="pos-r pt-0 custom-mt-10 sm-mt-0">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="row no-gutters box-shadow">
                  <div class="col-lg-5 col-md-12 theme-bg p-5">
                    <div class="section-title mb-4">
                      <h2 class="guides title">GUIDES:</h2>
                    </div>
                    
                      <h2 class="title">MORE ABOUT OUR SERVICES:</h2> 
                      <p class="line-h-3 text-rgba">navigate to the services page to view the detailed instructions you need to follow to partake in our services. Giving out loans is our top services however we are also effective in Asset Acquisition and accepting Investment 
                    </p>
                  </br>
                  
                     <h2 class="title">CONTACTING FOR FINANCIAL SERVICES:</h2> <p class="line-h-3 text-rgba">navigate to the contact page and fill the form to reach out to us once we recieve your email we will get back to you with the instructions to follow to complete your financial services request.
                  </p>
                    <!--  -->
                  </div>
                  <div
                    class="col-lg-7 col-md-12 white-bg d-flex align-items-center"
                  >
                    <div class="p-5 sm-px-3 sm-py-3 w-100">
                      <div class="row">
                        <h2 class="title upper">WHAT WE DO</h2>
                        <div class="col-lg-6 col-md-6">
                          <div
                            class="featured-item"
                            data-bg-color="rgba(49,67,239,0.070)"
                          >
                            <div class="featured-icon">
                              <i class="flaticon-money-2"></i>
                            </div>
                            <div class="featured-title">
                              <a href="contact"><h5 class="guides">Loan</h5></a>
                            </div>
                            <div class="featured-desc">
                              <p>
                                you are welcomed to make requests for loans
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 sm-mt-5">
                          <div
                            class="featured-item"
                            data-bg-color="rgba(253,91,3,0.070)"
                          >
                            <div class="featured-icon">
                              <i class="flaticon-money"></i>
                            </div>
                            <div class="featured-title">
                              <a href="contact"><h5 class="guides">Asset Acquisition</h5></a>
                            </div>
                            <div class="featured-desc">
                              <p>
                                An asset acquisition is the purchase of a company by buying its assets instead of its stock.
                              </p>
                            </div>
                          </div>
                        </div>
                       
                        <div class="col-lg-6 col-md-6 mt-5">
                          <div
                            class="featured-item"
                            data-bg-color="rgba(233,15,42,0.070)"
                          >
                            <div class="featured-icon">
                              <i class="flaticon-life"></i>
                            </div>
                            <div class="featured-title">
                              <a href="contact"><h5 class="guides">Investment</h5></a>
                            </div>
                            <div class="featured-desc">
                              <p>
                                allocate money with the expectation of a positive benefit/return in the future
                              </p>
                            </div>
                          </div>
                        </div>
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!--form end-->

        <!--about start-->

        <section>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-12">
                <div class="row no-gutters">
                  <div class="col-6">
                    <img
                      class="img-fluid rounded"
                      src="/images/about/01.jpg"
                      alt=""
                    />
                  </div>
                  <div class="col-6 ml-n4 mt-8">
                    <img
                      class="img-fluid rounded"
                      src="/images/about/02.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12 md-mt-5">
                <div class="section-title">
                  <h6>About Us</h6>
                  <h2 class="title">
                   WE OFFER VARIETIES OF FINANCIAL SERVICES SIMULTANEOUSLY
                  </h2>
                  <p>
                    Trust that we are equipped with the right proffessionals to attends to your financial needs
                  </p>
                </div>
                <div
                  class="d-sm-flex align-items-center justify-content-between"
                >
                  <!-- <div class="counter">
                    <span class="count-number" data-to="37" data-speed="7000"
                      >37</span
                    >
                    <span>+</span>
                    <h6>Experience</h6>
                  </div> -->
                  <div class="counter xs-mt-5">
                    <span class="count-number" data-to="398" data-speed="7000"
                      >398</span
                    >
                    <span>+</span>
                    <h6>Success Reports</h6>
                  </div>
                  <div class="counter xs-mt-5">
                    <span class="count-number" data-to="3" data-speed="7000"
                      >3</span
                    >
                    <span>k</span>
                    <h6>Happy Client</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-8 text-white">
              <div class="col-lg-4 theme-bg p-5">
                <i class="flaticon-brainstorming ic-3x"></i>
                <h5 class="font-w-7 text-white mt-3">Our Mission</h5>
                <p>
                  LEADING THE WAY FOR INVESTMENT AND CREDIT SERVICES
                </p>
                
              </div>
              <div class="col-lg-4 dark-bg p-5">
                <i class="flaticon-team ic-3x"></i>
                <h5 class="font-w-7 text-white mt-3">Our Vision</h5>
                <p>
                  TO COMPASSIONATELY OFFER FINANCIAL SERVICES WITHOUT MERIT DEFECTS
                </p>
                
              </div>
              <div class="col-lg-4 theme-bg-2 p-5">
                <i class="flaticon-report ic-3x"></i>
                <h5 class="font-w-7 text-white mt-3">Brief History</h5>
                <p>
                  Compassionate backers was established 2019 and we have gained Experience offering financial services in just a little time! 
                </p>
                
              </div>
            </div>
          </div>
        </section>

        <!--about end-->

        <!--case studies start-->

        <section>
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-lg-8 col-md-12">
                <div class="section-title">
                  <h6>Comppassionate Backers Gallery</h6>
                  <h2 class="title">Explore our virtual content</h2>
                  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="cases-item text-center">
                  <div class="cases-images">
                    <img
                      class="img-fluid rounded box-shadow"
                      src="/images/case-studies/01.jpg"
                      alt=""
                    />
                  </div>
                  <div class="cases-desc">
                    <span>Comppassionate Backers at meeting</span>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 sm-mt-5">
                <div class="cases-item text-center">
                  <div class="cases-images">
                    <img
                      class="img-fluid rounded box-shadow"
                      src="/images/case-studies/02.jpg"
                      alt=""
                    />
                  </div>
                  <div class="cases-desc">
                    <span>Compassionate Backers Staffs group pictures</span>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 md-mt-5">
                <div class="cases-item text-center">
                  <div class="cases-images">
                    <img
                      class="img-fluid rounded box-shadow"
                      src="/images/case-studies/03.jpg"
                      alt=""
                    />
                  </div>
                  <div class="cases-desc">
                    <span>meeting session</span>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-5">
                <div class="cases-item text-center">
                  <div class="cases-images">
                    <img
                      class="img-fluid rounded box-shadow"
                      src="/images/case-studies/04.jpg"
                      alt=""
                    />
                  </div>
                  <div class="cases-desc">
                    <span>group snapshot</span>
                   
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-5">
                <div class="cases-item text-center">
                  <div class="cases-images">
                    <img
                      class="img-fluid rounded box-shadow"
                      src="/images/case-studies/05.jpg"
                      alt=""
                    />
                  </div>
                  <div class="cases-desc">
                    <span>group snapshot</span>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-5">
                <div class="cases-item text-center">
                  <div class="cases-images">
                    <img
                      class="img-fluid rounded box-shadow"
                      src="/images/case-studies/06.jpg"
                      alt=""
                    />
                  </div>
                  <div class="cases-desc">
                    <span>staffs analyzing</span>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!--case studies end-->

        <!--testimonial start-->

        <section class="p-0 slider-sec">
          <div
            class="owl-carousel no-pb"
            data-items="1"
            data-dots="false"
            data-autoplay="true"
            data-autoplay-timeout="8000"
          >
            <div class="item">
              <img
                class="img-fluid w-100"
                src="/images/testimonial/01.jpg"
                alt=""
              />
              <div class="align-center">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7">
                      <div
                        class="testimonial style-1 dark-bg p-5 h-100 m-0 d-flex align-items-center o-hidden"
                      >
                        <div class="testimonial-content">
                          <div class="testimonial-quote">
                            <i class="fas fa-quote-left"></i>
                          </div>
                          <p class="text-white">
                            “Don't tell me where your priorities are. Show me where you spend your money and I'll tell you what they are.”
                          </p>
                          <div class="testimonial-caption">
                            <h5 class="text-white">James W. Frick
                            </h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img
                class="img-fluid w-100"
                src="/images/testimonial/02.jpg"
                alt=""
              />
              <div class="align-center p-0">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7">
                      <div
                        class="testimonial xxx style-1 dark-bg p-5 h-100 m-0 d-flex align-items-center o-hidden"
                      >
                        <div class=" testimonial-content">
                          <div class="testimonial-quote">
                            <i class="fas fa-quote-left"></i>
                          </div>
                          <p class="text-white">
                            “Success is not the result of making money; earning money is the result of success – and success is in direct proportion to our service.”
                          </p>
                          <div class="testimonial-caption">
                            <h5 class="text-white">Earl Nightingale</h5>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!--testimonial end-->

        <!--team start-->

        <section>
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-lg-8 col-md-12">
                <div class="section-title">
                  <h6>Team Expert</h6>
                  <h2 class="title">Team Crew</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div
                  class="owl-carousel"
                  data-items="3"
                  data-md-items="2"
                  data-margin="30"
                  data-sm-items="1"
                  data-autoplay="true"
                >
                  <div class="item">
                    <div class="team-member style-1">
                      <div class="team-images">
                        <img
                          class="img-fluid"
                          src="/images/team/01.jpg"
                          alt=""
                        />
                 
                      </div>
                      <div class="team-description">
                        <h5><a href="team-single.html">Mr. Babatunde Abiodun Franklin</a></h5>
                        <span>BDO</span>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="team-member style-1">
                      <div class="team-images">
                        <img
                          class="img-fluid"
                          src="/images/team/02.jpg"
                          alt=""
                        />
                      
                      </div>
                      <div class="team-description">
                        <h5><a href="team-single.html">Mr. Godwin Harrison</a></h5>
                        <span>BDO</span>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="team-member style-1">
                      <div class="team-images">
                        <img
                          class="img-fluid"
                          src="/images/team/03.jpg"
                          alt=""
                        />
                       
                      </div>
                      <div class="team-description">
                        <h5><a href="team-single.html">Mr. Tunde</a></h5>
                        <span>BDO</span>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="team-member style-1">
                      <div class="team-images">
                        <img
                          class="img-fluid"
                          src="/images/team/04.jpg"
                          alt=""
                        />
                 
                      </div>
                      <div class="team-description">
                        <h5><a href="team-single.html">Mr. Daramola Bamidele</a></h5>
                        <span>BDO</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!--team end-->

        <!--client start-->

        <!--  -->
        
        <!--client end-->

        <!--blog start-->

        <!-- <section>
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-lg-8 col-md-12">
                <div class="section-title">
                  <h6>Blog</h6>
                  <h2 class="title">Read Our Latest News</h2>
                 
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-12">
                <div class="post">
                  <div class="post-image">
                    <img
                      class="img-fluid rounded w-100"
                      src="/images/blog/01.jpg"
                      alt=""
                    />
                  </div>
                  <div class="post-desc">
                    <div class="post-meta">
                      <ul class="list-inline">
                        <li><a href="#">About</a></li>
                        <li>15 Oct, 2019</li>
                      </ul>
                    </div>
                    <div class="post-title">
                      <h4>
                        <a href="blog-single.html"
                          >The biggest concerns about Consulting</a
                        >
                      </h4>
                    </div>
                    <div class="post-author">
                      <div class="post-author-img">
                        <img
                          class="img-fluid"
                          src="/images/thumbnail/01.png"
                          alt=""
                        />
                      </div>
                      <span>Welly Kim</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 md-mt-5">
                <div class="post">
                  <div class="post-image">
                    <img
                      class="img-fluid rounded w-100"
                      src="/images/blog/02.jpg"
                      alt=""
                    />
                  </div>
                  <div class="post-desc">
                    <div class="post-meta">
                      <ul class="list-inline">
                        <li><a href="#">Business</a></li>
                        <li>15 Oct, 2019</li>
                      </ul>
                    </div>
                    <div class="post-title">
                      <h4>
                        <a href="blog-single.html"
                          >Make your customers improve your invoices</a
                        >
                      </h4>
                    </div>
                    <div class="post-author">
                      <div class="post-author-img">
                        <img
                          class="img-fluid"
                          src="/images/thumbnail/02.png"
                          alt=""
                        />
                      </div>
                      <span>Danny Joe</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 md-mt-5">
                <div class="post">
                  <div class="post-image">
                    <img
                      class="img-fluid rounded w-100"
                      src="/images/blog/03.jpg"
                      alt=""
                    />
                  </div>
                  <div class="post-desc">
                    <div class="post-meta">
                      <ul class="list-inline">
                        <li><a href="#">Consulting</a></li>
                        <li>15 Oct, 2019</li>
                      </ul>
                    </div>
                    <div class="post-title">
                      <h4>
                        <a href="blog-single.html"
                          >Why Consulterz is for your business</a
                        >
                      </h4>
                    </div>
                    <div class="post-author">
                      <div class="post-author-img">
                        <img
                          class="img-fluid"
                          src="/images/thumbnail/03.png"
                          alt=""
                        />
                      </div>
                      <span>Leeta Rain</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> -->

        <!--blog end-->
      </div>

      <!--body content end-->

      <!--footer start-->

      <%- include("footer") -%>

      <!--footer end-->
    </div>

    <!-- page wrapper end -->

    <!--back-to-top start-->

    <div class="scroll-top">
      <a class="smoothscroll" href="#top"><i class="flaticon-top"></i></a>
    </div>

    <!--back-to-top end-->

    <!-- inject js start -->

    <!--== jquery -->
    <script src="/js/theme.js"></script>

    <!--== theme-plugin -->
    <script src="/js/theme-plugin.js"></script>

    <!--== theme-script -->
    <script src="/js/theme-script.js"></script>
    <script>
      $(document).ready(function(){
             $(".abtclass").removeClass("active");
             $(".homeclass").addClass("active");
             $(".servicesclass").removeClass("active");
             $(".contactclass").removeClass("active")
     });
    </script>
    <!-- inject js end -->
  </body>
</html>
