<!DOCTYPE html>
<html lang="en">
<%- include("header") -%>

 <div class="search-input" id="search-input-box">
            <div class="container ">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search-input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="flaticon-close" id="close-search" title="Close Search"></span>
                </form>
            </div>
        </div>

<!--header end-->


<!--page title start-->

<section class="page-title parallaxie" data-bg-img="images/bg/08.jpg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h1>Career</h1>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="#">Services</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">More on Loan info</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<!--page title end-->


<!--body content start-->

<div class="page-content">

<!--about us start-->

<section>
  <div class="container" style="background-color: #F5F5F5;">
    <div class="row">
      <div class="col-lg-8 col-12">
        <div class="section-title mb-0">
          <h6 name="description">Hello there scroll down to read all you need to know before applying for loan</h6>
          <h2 class="title">Loan processing instructions</h2>
          <p name="description" >Below are the loan processing intructions and requirement to successfully obtain a loan from us</p>
        </div>
      </div>
    </div>
    <div class="row mt-8">
      <div name="description" class="col-lg-4 col-md-4">
        <h5><span class="text-theme font-w-7">01.</span> FORM FEE</h5>
        <p>less than ₦100,000 loan fee: ₦1,000</p>
      </br>
      <p>₦100,000 to ₦300,000 loan fee: ₦1,500</p>
    </br>
    <p>₦300,000 to ₦500,000 loan fee: ₦2,000</p>
  </br>
  <p>₦1,000,000 loan fee: ₦5,000</p>
</br>
<p>INSURANCE: (1% of requested loan).</p>
</br>
<p>PROCESSING FEE: (1% of requested loan).</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h5><span class="text-theme font-w-7">02.</span>REQUIRED DATA</h5>
        <p name="description">* PHOTOCOPY OF BOTH MEANS OF IDENTIFICATION AND( EITHER NEPA BILL OR WASTE MANAGEMENT CARD).</p>
        <p name="description">* 4 PASSPORT PHOTOGRAPHS.</p>
        <p name="description">* A GUARANTOR (PHOTOCOPY OF BOTH MEANS OF IDENTIFICATION AND (EITHER NEPA BILL OR WASTE MANAGEMENT CARD also for the guarantor).</p>
        <p name="description">* COLLATERAL (40% of the COLLATERAL is the amount of loan you can recieve).</p>
        <p name="description">* AN AFFIDAVIT (#300) WILL BE PREPARED BY COBAL USING YOUR COLLATERAL WHICH IS EXPECTED TO BE SIGNED AND STAMPED AT THE HIGH COURT.</p>
        <p name="description">* INSPECTION OF BOTH HOME AND BUSINESS LOCATION WILL BE DONE BY THE INSPECTION DEPARTMENT(inspection fee will be paid by the client).</p>
        <p name="description">* DISBURSEMENT WILL BE MADE WITHIN THE SPACE OF 2 WEEKS AFTER REGISTRATION IS COMPLETED.</p>
      </div>
      <!-- <div class="col-lg-4 col-md-4">
        <h5><span class="text-theme font-w-7">03.</span> Shared Success</h5>
        <p>Officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et non recusandae.</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h5><span class="text-theme font-w-7">04.</span> Medical insurance</h5>
        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model infancy.</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h5><span class="text-theme font-w-7">05.</span> Regular Reviews</h5>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia Neque porro est.</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h5><span class="text-theme font-w-7">06.</span> Bonus Available</h5>
        <p>Officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et non recusandae.</p>
      </div> -->
    </div>
  </div>
</section>

<!--about us end-->

<!--service start-->

<!-- <section>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 col-md-12">
        <div class="section-title">
          <h6>Service</h6>
          <h2 class="title">Open Positions</h2>
          <p>Consulterz discovering the source behind the ubiquitous filler text. In seeing a sample of lorem ipsum, his interest was piqued by consectetur</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="tab style-2">
          
          <div class="row">
            <div class="col-md-5">
              <nav>
                <div class="nav nav-tabs w-100" id="nav-tab" role="tablist"> <a class="nav-item nav-link active" id="nav-tab1" data-toggle="tab" href="#tab1-1" role="tab" aria-selected="true">Designer</a>
                  <a class="nav-item nav-link" id="nav-tab2" data-toggle="tab" href="#tab1-2" role="tab" aria-selected="false"> PHP Web Developer</a>
                  <a class="nav-item nav-link" id="nav-tab3" data-toggle="tab" href="#tab1-3" role="tab" aria-selected="false"> Marketing Manager</a>
                  <a class="nav-item nav-link" id="nav-tab4" data-toggle="tab" href="#tab1-4" role="tab" aria-selected="false"> Office Executiv</a>
                  <a class="nav-item nav-link" id="nav-tab5" data-toggle="tab" href="#tab1-5" role="tab" aria-selected="false"> Front-End Web Developer</a>
                </div>
              </nav>
            </div>
            <div class="col-md-7">
              <div class="tab-content p-0" id="nav-tabContent">
                <div role="tabpanel" class="tab-pane fade show active" id="tab1-1">
                  <h5>Job Descriptions:</h5>
                  <p>Get in touch with us and we’ll figure out something that works for everyone Consulterz discovering the source behind the ubiquitous filler text. In seeing a sample of lorem ipsum, his interest was piqued by consectetur</p>

                  <h5 class="mt-5 mb-4">Desired Skills:</h5>
                  <ul class="list-unstyled list-icon">
                    <li class="mb-3"><i class="flaticon-tick"></i> It has survived not only five centuries, leap typesetting</li>
                    <li class="mb-3"><i class="flaticon-tick"></i> Consulterz discovering the source behind the ubiquitous</li>
                    <li class="mb-3"><i class="flaticon-tick"></i> The smartest thing to do with your Consulting</li>
                    <li class="mb-3"><i class="flaticon-tick"></i> I will give you a complete account the teachings</li>
                    <li><i class="flaticon-tick"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
                  </ul>
                  <a class="btn btn-2 mt-5" href="career-single.html"> <span class="btn-icon btn-arrow"></span>
                  <p class="btn-text">Apply Now</p>
                </a>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab1-2">
                 <h5>Job Descriptions:</h5>
                  <p>Get in touch with us and we’ll figure out something that works for everyone Consulterz discovering the source behind the ubiquitous filler text. In seeing a sample of lorem ipsum, his interest was piqued by consectetur</p>

                  <h5 class="mt-5 mb-4">Desired Skills:</h5>
                  <ul class="list-unstyled list-icon">
                    <li class="mb-3"><i class="flaticon-tick"></i> It has survived not only five centuries, leap typesetting</li>
                    <li class="mb-3"><i class="flaticon-tick"></i> Consulterz discovering the source behind the ubiquitous</li>
                    <li class="mb-3"><i class="flaticon-tick"></i> The smartest thing to do with your Consulting</li>
                    <li class="mb-3"><i class="flaticon-tick"></i> I will give you a complete account the teachings</li>
                    <li><i class="flaticon-tick"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
                  </ul>
                  <a class="btn btn-2 mt-5" href="career-single.html"> <span class="btn-icon btn-arrow"></span>
                  <p class="btn-text">Apply Now</p>
                </a>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab1-3">
                 <h5>Job Descriptions:</h5>
                  <p>Get in touch with us and we’ll figure out something that works for everyone Consulterz discovering the source behind the ubiquitous filler text. In seeing a sample of lorem ipsum, his interest was piqued by consectetur</p>

                  <h5 class="mt-5 mb-4">Desired Skills:</h5>
                  <ul class="list-unstyled list-icon">
                    <li class="mb-3"><i class="flaticon-tick"></i> It has survived not only five centuries, leap typesetting</li>
                    <li class="mb-3"><i class="flaticon-tick"></i> Consulterz discovering the source behind the ubiquitous</li>
                    <li class="mb-3"><i class="flaticon-tick"></i> The smartest thing to do with your Consulting</li>
                    <li class="mb-3"><i class="flaticon-tick"></i> I will give you a complete account the teachings</li>
                    <li><i class="flaticon-tick"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
                  </ul>
                  <a class="btn btn-2 mt-5" href="career-single.html"> <span class="btn-icon btn-arrow"></span>
                  <p class="btn-text">Apply Now</p>
                </a>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab1-4">
                  <h5>Job Descriptions:</h5>
                  <p>Get in touch with us and we’ll figure out something that works for everyone Consulterz discovering the source behind the ubiquitous filler text. In seeing a sample of lorem ipsum, his interest was piqued by consectetur</p>

                  <h5 class="mt-5 mb-4">Desired Skills:</h5>
                  <ul class="list-unstyled list-icon">
                    <li class="mb-3"><i class="flaticon-tick"></i> It has survived not only five centuries, leap typesetting</li>
                    <li class="mb-3"><i class="flaticon-tick"></i> Consulterz discovering the source behind the ubiquitous</li>
                    <li class="mb-3"><i class="flaticon-tick"></i> The smartest thing to do with your Consulting</li>
                    <li class="mb-3"><i class="flaticon-tick"></i> I will give you a complete account the teachings</li>
                    <li><i class="flaticon-tick"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
                  </ul>
                  <a class="btn btn-2 mt-5" href="career-single.html"> <span class="btn-icon btn-arrow"></span>
                  <p class="btn-text">Apply Now</p>
                </a>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab1-5">
                  <h5>Job Descriptions:</h5>
                  <p>Get in touch with us and we’ll figure out something that works for everyone Consulterz discovering the source behind the ubiquitous filler text. In seeing a sample of lorem ipsum, his interest was piqued by consectetur</p>

                  <h5 class="mt-5 mb-4">Desired Skills:</h5>
                  <ul class="list-unstyled list-icon">
                    <li class="mb-3"><i class="flaticon-tick"></i> It has survived not only five centuries, leap typesetting</li>
                    <li class="mb-3"><i class="flaticon-tick"></i> Consulterz discovering the source behind the ubiquitous</li>
                    <li class="mb-3"><i class="flaticon-tick"></i> The smartest thing to do with your Consulting</li>
                    <li class="mb-3"><i class="flaticon-tick"></i> I will give you a complete account the teachings</li>
                    <li><i class="flaticon-tick"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
                  </ul>
                  <a class="btn btn-2 mt-5" href="career-single.html"> <span class="btn-icon btn-arrow"></span>
                  <p class="btn-text">Apply Now</p>
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
</section> -->

<!--service end-->

</div>

<!--body content end-->


<!--footer start-->

<%- include("footer") -%>

<!--footer end-->


</div>

<!-- page wrapper end -->


<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-top"></i></a></div>

<!--back-to-top end-->


<!--== jquery -->
<script src="js/theme.js"></script>

<!--== theme-plugin -->
<script src="js/theme-plugin.js"></script>

<!--== theme-script -->
<script src="js/theme-script.js"></script>

<!-- inject js end -->

</body>
</html>
